svg.svelte-1d3n5vv{position:absolute;bottom:0}svg.svelte-1d3n5vv>path.svelte-1d3n5vv:nth-child(1){fill:#00adcf}svg.svelte-1d3n5vv>path.svelte-1d3n5vv:nth-child(2){fill:#fff}
h1.svelte-zfoa9y,h2.svelte-zfoa9y{margin:0;margin-bottom:1rem}h1.svelte-zfoa9y{font-size:2.5rem}#hero.svelte-zfoa9y{height:70vh;position:relative;z-index:0;background-size:cover;background-position:center}#hero.svelte-zfoa9y:before{content:'';position:absolute;top:0;bottom:0;left:0;right:0;background:rgba(1, 1, 1, 0.5)}.hero.svelte-zfoa9y{display:flex;padding:6rem;color:#fff;position:relative}@media(max-width: 768px){.hero.svelte-zfoa9y{padding:3.75rem;flex-direction:column-reverse;align-items:center}}.left-content.svelte-zfoa9y{display:flex;flex:auto;flex-direction:column}.right-content.svelte-zfoa9y{display:flex;flex:auto;justify-content:flex-end}.city.svelte-zfoa9y,.weather.svelte-zfoa9y{font-weight:200}.temperature.svelte-zfoa9y{display:inline-flex;font-size:7.5rem}.degrees.svelte-zfoa9y{font-size:2.25rem}.current-time.svelte-zfoa9y{margin:.625rem;font-size:1.5rem;font-weight:200}
.day.svelte-1tlmcpt{display:flex;max-width:100%;margin:0 .3125rem;flex-direction:column;align-items:center;flex:auto}.bold.svelte-1tlmcpt{font-weight:600}.day.svelte-1tlmcpt>p.svelte-1tlmcpt{font-size:1.25rem}.day.svelte-1tlmcpt:first-of-type{margin-left:0}.day.svelte-1tlmcpt:last-of-type{margin-right:0}.temperature.svelte-1tlmcpt{display:inline-block}
section.svelte-np6kl5{padding:2.5rem;display:grid;grid-template-columns:repeat(auto-fill, 10.625rem);justify-content:center;max-width:75rem;margin:0 auto}
main.svelte-1tv9nbq{position:relative}
form.svelte-1nct2xv{max-width:31.25rem;margin:0 auto}h1.svelte-1nct2xv{text-align:center}.options.svelte-1nct2xv{display:flex}.options.svelte-1nct2xv span.svelte-1nct2xv{display:flex;flex:auto}.options.svelte-1nct2xv span label.svelte-1nct2xv{margin:0 .9375rem;font-weight:600}
main.svelte-1k9cgqb{background:blueviolet;height:100vh}
.toastr-wrapper.svelte-9pfp3w{display:flex;flex:1;align-items:center;position:absolute;bottom:0}.toastr.svelte-9pfp3w{display:flex;justify-content:center;flex:1;align-items:center;height:3.75rem;position:absolute;width:100vw;background:#4800FF;color:#fff}
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

._w-100 {
  width: 100%;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

.btn {
  background: teal;
  color: #fff;
  border: none;
  flex: auto;
  display: flex;
  justify-content: center;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.row {
	display: inline-flex;
}
#app.svelte-15ll5w1{position:absolute;top:0;left:0;right:0;bottom:0;display:flex;flex-direction:column}button.svelte-15ll5w1{position:absolute;z-index:1;background:transparent;border:none;color:white;cursor:pointer}.burger.svelte-15ll5w1{right:6rem;top:2rem}@media(max-width: 768px){.burger.svelte-15ll5w1{right:1rem}}
