<style>
  .day {
    display: flex;
    max-width: 100%;
    margin: 0 .3125rem;
    flex-direction: column;
    align-items: center;
    flex: auto;
  }

  .bold {
    font-weight: 600;
  }

  .day>p {
    font-size: 1.25rem;
  }

  .day:first-of-type {
    margin-left: 0;
  }

  .day:last-of-type {
    margin-right: 0;
  }

  .temperature {
    display: inline-block;
  }
</style>


<div class="day">
  <p class="{day.isToday ? 'bold' : null}">{day.name}</p>
  <WeatherIcon :iconString />
  <span>
    <p class="bold temperature">{dayTemp}°{$tempUnit}</p>
    <p class="temperature">{nightTemp}°{$tempUnit}</p>
  </span>
</div>

<script>
  import WeatherIcon from './WeatherIcon';
  import { convertToCelsius } from '../helpers';
  export default {
    components: {
      WeatherIcon
    },
    computed: {
      iconString: ({ day }) => {
        const dayOrNight =
          day['day'].isDayTime ? 'day' : 'night';
        return day[dayOrNight].icon;
      },
      nightTemp: ({ day, $tempUnit }) => {
        const temp = day['night'].temperature;
        return $tempUnit === 'C'
          ? convertToCelsius(temp)
          : temp
      },
      dayTemp: ({ day, $tempUnit }) => {
        const temp = day['night'].temperature;
        return $tempUnit === 'C'
          ? convertToCelsius(temp)
          : temp
      }
    }
  }
</script>