<style>
  h1 {
    position: relative;
    text-align: center;
    margin-top: 1.8rem;
    color: teal;
    font-size: 2.5rem;
  }

  button {
    position: absolute;
    z-index: 1;
    background: transparent;
    border: none;
    color: white;
  }

  .burger {
    right: 6rem;
    top: 2rem;
  }

  .close {
    left: 2rem;
    top: 2rem;
    height: 2.5rem;
    width: 40px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.5rem;
  }

  aside {
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    width: 30vw;
    position: absolute;
    right: 0;
    z-index: 2;
  }

  .form-wrapper {
    padding: 2.5rem;
  }

  #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
</style>

<button class="burger" on:click="$toggleDrawer()">
  <Icon name="bars" scale={2} />
</button>

{#if $isDrawerOpen}
<aside transition:fly='{x:50}'>
  <button class="close" on:click="$toggleDrawer()">
    X
  </button>
  <h1>WeatherVane</h1>
  <div class="form-wrapper">
    <ZipSearchForm :toggleDrawer />
  </div>
</aside>
<div id="overlay" on:click="$toggleDrawer()" />
{/if}

<script>
  import Icon from 'svelte-awesome';
  import { fly } from 'svelte-transitions';
  import ZipSearchForm from '../composed/ZipSearchForm';
  export default {
    transitions: { fly },
    components: {
      Icon,
      ZipSearchForm
    },
  }
</script>