<svelte:window on:hashchange='onHashChange()' />
<style>
  h1 {
    position: relative;
    text-align: center;
    margin-top: 1.8rem;
    color: teal;
    font-size: 2.5rem;
  }

  button {
    position: absolute;
    z-index: 1;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }

  .close {
    left: 2rem;
    top: 2rem;
    height: 2.5rem;
    width: 40px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 1.5rem;
  }

  aside {
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    width: 60vw;
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .form-wrapper {
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    flex: auto;
  }

  #overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  .routes-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: auto;
    padding: 2.5rem;
  }

  @media(max-width: 768px) {
    aside {
      width: 100vw;
    }
  }

  @media(min-width: 1280px) {
    aside {
      width: 30vw;
    }
  }
</style>

{#if $isDrawerOpen}
<aside transition:fly='{x:50}'>
  <button class="close" aria-label="close menu" on:click="$toggleDrawer()">
    X
  </button>
  <h1>WeatherVane</h1>
  <div class="form-wrapper">
    <ZipSearchForm />
    <RecentSearches />
  </div>
  <div class="routes-wrapper">
    <button aria-label="{location}" on:click="handleNavClick()">{location}</button>
  </div>
</aside>
<div id="overlay" on:click="$toggleDrawer()" />
{/if}

<script>
  import SvelteRouter from 'svelte-router';
  import { fly } from 'svelte-transitions';
  import RecentSearches from './RecentSearches';
  import ZipSearchForm from '../composed/ZipSearchForm';
  export default {
    transitions: { fly },
    components: {
      RecentSearches,
      ZipSearchForm,
    },
    oncreate() {
      this.onHashChange();
    },
    methods: {
      handleNavClick() {
        window.location.hash.includes('settings')
          ? SvelteRouter.push('/')
          : SvelteRouter.push('/settings')

        this.store.toggleDrawer();
      },
      onHashChange() {
        window.location.hash.includes('settings')
          ? this.set({ location: 'Home' })
          : this.set({ location: 'Settings' })
      },
    },
    computed: {
      location: ({ location }) => location,
    }
  }
</script>