<style>
  h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .hero {
    background: lightblue;
    height: 61vh;
    display: flex;
    padding: 2.5rem 4rem;
    color: #fff;
  }

  .left-content {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .right-content {
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }

  .city,
  .weather {
    font-weight: 200;
  }

  .temperature {
    font-size: 7.5rem;
  }

  .degrees {
    font-size: 2.25rem;
  }

  .current-time {
    margin: .625rem;
    font-size: 2.5rem;
    font-weight: 200;
  }
</style>

<section>
  <div id="hero" class="hero">
    <div class="left-content">
      <h1>
        <span class="city">{city}, </span>
        <span class="state">{state}</span>
      </h1>
      <h2>
        <span class="weather">{shortForecast}</span>
      </h2>
      <div class="temperature">
        <div class="temp">{currentTemp} <sup class="degrees">&#8457;</sup></div>
      </div>
    </div>
    <div class="right-content">
      <div class="current-time">{hours}:{minutes}</div>
    </div>
  </div>
</section>

<script>
  import { locationStore, weatherStore } from '../stores';
  export default {
    oncreate() {
      // this fires when the component has been
      // rendered to the DOM
      this.init();
    },

    ondestroy() {
      clearInterval(this.interval);
    },

    methods: {
      async init() {

        this.startClock();

        // 1. fetch users location
        await locationStore.fetchCurrentLocation()
          .then(currentLocation => this.set({ currentLocation }));

        // 2. fetch city image
        const { lat, lon } = this._state.currentLocation;
        await locationStore.getCityImage(lat, lon)
          .then(({ cityImage }) =>
            document.getElementById('hero').style.backgroundImage = `url(${cityImage})`);

        // 3. fetch weather endpoints (daily & weekly)
        await weatherStore.getWeatherEndpoints(lat, lon)
          .then(weatherEndpoints => this.set({ weatherEndpoints }));

        // 4. fetch hourly weather
        const { forecastHourlyUrl, forecastUrl } = this._state.weatherEndpoints;
        await weatherStore.getForecastHourly(forecastHourlyUrl)
          .then(({ currentWeather }) => this.set({ currentWeather }));
      },
      startClock() {
        this.interval = setInterval(() => {
          this.set({ time: new Date() });
        }, 1000);
      }
    },

    data() {
      return ({
        time: new Date(),
        currentLocation: {},
        currentWeather: {},
      });
    },

    computed: {
      hours: ({ time }) => time.getHours(),
      minutes: ({ time }) => time.getMinutes() > 9 ? time.getMinutes() : '0' + time.getMinutes(),
      city: ({ currentLocation }) => currentLocation.city,
      lat: ({ currentLocation }) => currentLocation.lat,
      lon: ({ currentLocation }) => currentLocation.lon,
      state: ({ currentLocation }) => currentLocation.regionName,
      currentTemp: ({ currentWeather }) => currentWeather.temperature || '--',
      shortForecast: ({ currentWeather }) => currentWeather.shortForecast || '',
      weatherIcon: ({ currentWeather }) => currentWeather.icon,
    }
  };
</script>