<style>
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  #hero {
    height: 61vh;
    position: relative;
    z-index: 0;
  }

  .hero {
    display: flex;
    padding: 6rem;
    color: #fff;
  }

  .left-content {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .right-content {
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }

  .city,
  .weather {
    font-weight: 200;
  }

  .temperature {
    display: inline-flex;
    font-size: 7.5rem;
  }

  .degrees {
    font-size: 2.25rem;
  }

  .current-time {
    margin: .625rem;
    font-size: 1.5rem;
    font-weight: 200;
  }
</style>

<section id="hero">
  <div class="hero">
    <div class="left-content">
      <h1>
        <span class="city">{city}, </span>
        <span class="state">{state}</span>
      </h1>
      <h2>
        <span class="weather">{shortForecast}</span>
      </h2>
      <div class="temperature">
        {#if iconString}
        <WeatherIcon :iconString />
        {/if}
        <div class="temp">{currentTemp} <sup class="degrees">&#8457;</sup></div>
      </div>
    </div>
    <div class="right-content">
      <div class="current-time">{hours}:{minutes}</div>
    </div>
  </div>
</section>

<script>
  import WeatherIcon from '../components/WeatherIcon';
  export default {
    components: {
      WeatherIcon
    },

    oncreate() {
      this.startClock();
    },

    ondestroy() {
      clearInterval(this.interval);
    },

    data() {
      return ({
        time: new Date(),
        currentLocation: {},
        currentWeather: {},
      });
    },

    methods: {
      startClock() {
        this.interval = setInterval(() => {
          this.set({ time: new Date() });
        }, 1000);
      }
    },

    computed: {
      // clock
      hours: ({ time }) => time.getHours(),
      minutes: ({ time }) => time.getMinutes() > 9 ? time.getMinutes() : '0' + time.getMinutes(),

      // location
      city: ({ currentLocation }) => currentLocation.city,
      lat: ({ currentLocation }) => currentLocation.lat,
      lon: ({ currentLocation }) => currentLocation.lon,
      state: ({ currentLocation }) => currentLocation.regionName,

      // weather
      currentTemp: ({ currentWeather }) => currentWeather.temperature || '--',
      shortForecast: ({ currentWeather }) => currentWeather.shortForecast || '',
      iconString: ({ currentWeather }) => currentWeather.icon,
    }
  };
</script>