<style>
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  #hero {
    height: 61vh;
    position: relative;
    z-index: 0;
    background-size: cover;
    background-position: center;
  }

  #hero:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1, 1, 1, 0.5);
  }

  .hero {
    display: flex;
    padding: 6rem;
    color: #fff;
    position: relative;
  }

  .left-content {
    display: flex;
    flex: auto;
    flex-direction: column;
  }

  .right-content {
    display: flex;
    flex: auto;
    justify-content: flex-end;
  }

  .city,
  .weather {
    font-weight: 200;
  }

  .temperature {
    display: inline-flex;
    font-size: 7.5rem;
  }

  .degrees {
    font-size: 2.25rem;
  }

  .current-time {
    margin: .625rem;
    font-size: 1.5rem;
    font-weight: 200;
  }
</style>

<section id="hero">
  <div class="hero">
    {#if $currentLocation && $currentWeather}
    <div class="left-content">
      <h1>
        <span class="city">{$currentLocation.city}, </span>
        <span class="state">{$currentLocation.region}</span>
      </h1>
      <h2>
        <span class="weather">{$currentWeather.shortForecast}</span>
      </h2>
      <div class="temperature">
        <WeatherIcon iconString="{$currentWeather.icon}" />
        <div class="temp">{$currentWeather.temperature} <sup class="degrees">&#8457;</sup></div>
      </div>
    </div>
    <div class="right-content">
      <div class="current-time">{hours}:{minutes}</div>
    </div>
    {/if}
  </div>
</section>

<script>
  import WeatherIcon from '../components/WeatherIcon';
  export default {
    components: {
      WeatherIcon
    },

    oncreate() {
      this.startClock();
    },

    ondestroy() {
      clearInterval(this.interval);
    },

    data() {
      return ({
        time: new Date(),
      });
    },

    methods: {
      startClock() {
        this.interval = setInterval(() => {
          this.set({ time: new Date() });
        }, 1000);
      }
    },

    computed: {
      // clock
      hours: ({ time }) => time.getHours(),
      minutes: ({ time }) => time.getMinutes() > 9 ? time.getMinutes() : '0' + time.getMinutes(),
    }
  };
</script>