<style>
  .toastr-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    position: absolute;
    bottom: 0;
  }

  .toastr {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    height: 3.75rem;
    position: absolute;
    width: 100vw;
    background: #00adcf;
    color: #fff;
  }
</style>

{#if $isToastrOpen}
<div class="toastr-wrapper" transition:fly='{y: 50, duration: 2000, easing: elasticOut}'>
  <span class="toastr">{$message}</span>
</div>
{/if}

<script>
  import { fly } from 'svelte-transitions';
  export default {
    transitions: { fly }
  };
</script>