{#if iconString}
{#if weatherIcon === 'Cloud'}
<Cloud />
{:elseif weatherIcon === 'Cloudy'}
<Cloudy />
{:elseif weatherIcon === 'Cloudy1'}
<Cloudy1 />
{:elseif weatherIcon === 'Rain'}
<Rain />
{:elseif weatherIcon === 'Rain1'}
<Rain1 />
{:elseif weatherIcon === 'Rain2'}
<Rain2 />
{:elseif weatherIcon === 'Snowflake'}
<Snowflake />
{:elseif weatherIcon === 'Snowing1'}
<Snowing1 />
{:elseif weatherIcon === 'Snowing3'}
<Snowing3 />
{:elseif weatherIcon === 'Storm'}
<Storm />
{:elseif weatherIcon === 'Sun'}
<Sun />
{:elseif weatherIcon === 'Sunset'}
<Sunset />
{:elseif weatherIcon === 'Tornado'}
<Tornado />
{/if}
{/if}

<script>
  import Cloud from '../assets/Cloud';
  import Cloudy from '../assets/Cloudy';
  import Cloudy1 from '../assets/Cloudy1';
  import Rain from '../assets/Rain';
  import Rain1 from '../assets/Rain1';
  import Rain2 from '../assets/Rain2';
  import Snowflake from '../assets/Snowflake';
  import Snowing1 from '../assets/Snowing1';
  import Snowing3 from '../assets/Snowing3';
  import Storm from '../assets/Storm';
  import Sun from '../assets/Sun';
  import Sunset from '../assets/Sunset';
  import Tornado from '../assets/Tornado';
  import { weatherMapping } from '../helpers';
  export default {
    components: {
      Cloud,
      Cloudy,
      Cloudy1,
      Rain,
      Rain1,
      Rain2,
      Snowflake,
      Snowing1,
      Snowing3,
      Storm,
      Sun,
      Sunset,
      Tornado,
    },
    computed: {
      weatherIcon: ({ iconString }) => weatherMapping(iconString),
    }
  }
</script>