{#if iconString}
{#if weatherIcon === ('rain_showers')}
<Rain2 />
{:elseif weatherIcon === ('blizzard' || 'cold')}
<Snowflake />
{:elseif weatherIcon === ('dust' || 'hurricane' || 'smoke' || 'tornado')}
<Tornado />
{:elseif weatherIcon === ('bkn' || 'few' || 'ovc' || 'sct')}
<Cloudy1 />
{:elseif weatherIcon === ('fog' || 'haze' || 'ovc' || 'sct')}
<Sunset />
{:elseif weatherIcon === ('fzra' || 'rain_fzra' || 'rain_snow' || 'rain_sleet' || 'sleet' || 'snow_fzra' ||
'snow_sleet')}
<Snowing1 />
{:elseif weatherIcon === ('hot' || 'skc' || 'wind_skc')}
<Sun />
{:elseif weatherIcon === ('rain')}
<Rain />
{:elseif weatherIcon === ('rain_showers_hi')}
<Rain1 />
{:elseif weatherIcon === ('snow')}
<Snowing3 />
{:elseif weatherIcon === ('tropical_storm' || 'tsra' || 'tsra_sct' || 'tsra_hi')}
<Storm />
{:elseif weatherIcon === ('wind_sct' || 'wind_few')}
<Cloudy />
{:elseif weatherIcon === ('wind_ovc' || 'wind_bkn')}
<Cloud />
{/if}
{:else}
<p>loading weather</p>
{/if}

<script>
  import Cloud from '../assets/Cloud';
  import Cloudy from '../assets/Cloudy';
  import Cloudy1 from '../assets/Cloudy1';
  import Rain from '../assets/Rain';
  import Rain1 from '../assets/Rain1';
  import Rain2 from '../assets/Rain2';
  import Snowflake from '../assets/Snowflake';
  import Snowing1 from '../assets/Snowing1';
  import Snowing3 from '../assets/Snowing3';
  import Storm from '../assets/Storm';
  import Sun from '../assets/Sun';
  import Sunset from '../assets/Sunset';
  import Tornado from '../assets/Tornado';
  const weatherMapping = iconString => {
    const iconRegex = /^https:\/\/api.weather.gov\/icons\/land\/(day|night)\/(.*?)(,|\/|\?)/;
    return iconRegex.exec(iconString)[2];
  }
  export default {
    components: {
      Cloud,
      Cloudy,
      Cloudy1,
      Rain,
      Rain1,
      Rain2,
      Snowflake,
      Snowing1,
      Snowing3,
      Storm,
      Sun,
      Sunset,
      Tornado,
    },
    data() {
      return ({
        weatherIcon: null,
      });
    },
    computed: {
      weatherIcon: ({ iconString }) => weatherMapping(iconString)
    }
  }
</script>