<style>
  section {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 10.625rem);
    justify-content: center;
  }
</style>

<section>
  {#if forecastDaily}
  {#each forecastDaily as day}
  <Day :day />
  {/each}
  {/if}
</section>

<script>
  import Day from './Day';
  import { combineCurrentWeek } from '../helpers';
  export default {
    components: { Day },
    computed: {
      forecastDaily: ({ _, $forecastDaily }) => combineCurrentWeek($forecastDaily)
    }
  }
</script>